# ignore temp_output folder content
**/temp_output

#ignore plots folder content
**/plots

# ignore root_files folder content
**/root_files

#ignore compilation output
**/scripts/root_macros/*.so
**/scripts/root_macros/*.d
**/scripts/root_macros/*.pcm

#ignore visual studio files
**/.vscode

#ignore auxilary output files
**/*/*.pdf
**/*/*.root
**/*/*.eps
**/*/*.jpg
**/*/*.jpeg
**/*/*.png

#latex auxilary outputs
**/docs/*.gz
**/docs/*.log
**/docs/*.aux
**/docs/*.out
**/docs/*.toc
#do not ignore the following files related to the documentation
!**/docs/include/*
!**/docs/*.pdf
!**/docs/*.tex